<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="OnlineStoreEntities" connectionString="metadata=res://*/OnlineStore.csdl|res://*/OnlineStore.ssdl|res://*/OnlineStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEOW\SQLEXPRESS;initial catalog=OnlineStore;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/OnlineStore.csdl|res://*/OnlineStore.ssdl|res://*/OnlineStore.msl;provider=System.Data.SqlClient;provider connection string='data source=GK216_3\SQLEXPRESS;initial catalog=&quot;OnlineStore (1)&quot;;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="StoreEntities" connectionString="metadata=res://*/OnlineStore.csdl|res://*/OnlineStore.ssdl|res://*/OnlineStore.msl;provider=System.Data.SqlClient;provider connection string='data source=GK216_3\SQLEXPRESS;initial catalog=&quot;OnlineStore (1)&quot;;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>